<div class="flexcontainer">
        <a class="nav" routerLink="/recipes" routerLinkActive="active">Home</a>
        <a class="nav" routerLink="/recipes" routerLinkActive="active">recipes</a>
        <a class="nav" routerLink="/shopping-list" routerLinkActive="active">Shopping-list</a>
  
     
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active"> Registration</a>
        <a routerLink="/logout"routerLinkActive="active">Profile</a>
    
    
</div>