body {
    margin: 0;
}
.flexcontainer {
    background-color: rgb(177, 236, 200);
    padding: 20px;
     
}
.flexcontainer a {
    
    padding: 20px;
    cursor: pointer;
    gap: 30px;
    font-size: 17px;
}
 
a{
    text-decoration: none;
}