<div class="row" *ngIf="otp">
    <div class="col">
        <div class="form-group">
            <label>Email:</label><br>
        <input type="email" class="form-control" formControlName="email"><br>
        </div>
          
         <div class="form-group">
            <label>Enter OTP Number:</label><br>
            <input type="text" class="form-control" formControlName="newPassword"><br>
         </div>
         <button type="button" class="btn" (click)="onOtpSubmit()">Submit</button>
    </div>
</div>

<div class="row" *ngIf="password">
    <div class="col">
        <div class="form-group">
            <label>New Password:</label><br>
        <input type="password" class="form-control" formControlName="email"><br>
        </div>
          
         <div class="form-group">
            <label>Conform Password:</label><br>
            <input type="password" class="form-control" formControlName="newPassword"><br>
         </div>
         <button type="button" class="btn">Submit</button>
    </div>
</div>